<a href="https://colab.research.google.com/github/mike2ox/databreak-python-basic/blob/master/data_science_by_python_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 실습에 필요한 data가 있는 repo
!git clone https://github.com/mike2ox/databreak-python-basic.git

# 폰트 다운
!apt-get install fonts-nanum*
!apt-get install fontconfig
!fc-cache -fv
!cp /usr/share/fonts/truetype/nanum/Nanum* /usr/local/lib/python3.6/dist-packages/matplotlib/mpl-data/fonts/ttf/
!rm -rf /content/.cache/matplotlib/

'''
  한글문제로 인해 OS에 따른 폰트 변경 code block
'''
import platform
import matplotlib as plt
from matplotlib import font_manager, rc

plt.rcParams['axes.unicode_minus'] = False

# colab 환경이니 경로 설정 주의
path = '/usr/share/fonts/truetype/nanum/NanumGothicBold.ttf'
font_name = plt.font_manager.FontProperties(fname=path, size=18).get_name()
plt.rc('font', family=font_name)
font_manager._rebuild()

fatal: destination path 'databreak-python-basic' already exists and is not an empty directory.
Reading package lists... Done
Building dependency tree
Reading state information... Done
Note, selecting 'fonts-nanum-eco' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-gothic-light' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-coding' for glob 'fonts-nanum*'
Note, selecting 'fonts-nanum-extra' for glob 'fonts-nanum*'
fonts-nanum is already the newest version (20170925-1).
fonts-nanum-coding is already the newest version (2.5-1).
fonts-nanum-eco is already the newest version (1.000-6).
fonts-nanum-extra is already the newest version (20170925-1).
The following packages were automatically installed and are no longer required:
  cuda-cufft-10-1 cuda-cufft-dev-10-1 cuda-curand-10-1 cuda-curand-dev-10-1
  cuda-cusolver-10-1 cuda-cusolver-dev-10-1 cuda-cusparse-10-1
  cuda-cusparse-dev-10-1 cuda-drivers cuda-license-10-2 cuda-npp-10-1
  cuda-npp-dev-10-1 cuda-nsight-10-1 cuda-nsight-compute-10-1
  cuda-nsight-systems-10-1 cuda-nvgraph-10-1 cuda-nvgraph-dev-10-1
  cuda-nvjpeg-10-1 cuda-nvjpeg-dev-10-1 cuda-nvrtc-10-1 cuda-nvrtc-dev-10-1
  cuda-nvvp-10-1 default-jre dkms freeglut3 freeglut3-dev
  keyboard-configuration libargon2-0 libcap2 libcryptsetup12 libcublas10
  libdevmapper1.02.1 libfontenc1 libgtk2.0-0 libgtk2.0-common libidn11
  libip4tc0 libjansson4 libnvidia-cfg1-440 libnvidia-common-430
  libnvidia-common-440 libnvidia-decode-440 libnvidia-encode-440
  libnvidia-fbc1-440 libnvidia-gl-440 libnvidia-ifr1-440 libpam-systemd
  libpolkit-agent-1-0 libpolkit-backend-1-0 libpolkit-gobject-1-0 libxfont2
  libxi-dev libxkbfile1 libxmu-dev libxmu-headers libxnvctrl0
  nsight-compute-2019.5.0 nsight-systems-2019.5.2 nvidia-compute-utils-440
  nvidia-dkms-440 nvidia-driver-440 nvidia-kernel-common-440
  nvidia-kernel-source-440 nvidia-modprobe nvidia-settings nvidia-utils-440
  openjdk-11-jre policykit-1 policykit-1-gnome python3-xkit
  screen-resolution-extra systemd systemd-sysv udev x11-xkb-utils
  xserver-common xserver-xorg-core-hwe-18.04 xserver-xorg-video-nvidia-440
Use 'apt autoremove' to remove them.
0 upgraded, 0 newly installed, 0 to remove and 5 not upgraded.
Reading package lists... Done
Building dependency tree
Reading state information... Done
fontconfig is already the newest version (2.12.6-0ubuntu2).
The following packages were automatically installed and are no longer required:
  cuda-cufft-10-1 cuda-cufft-dev-10-1 cuda-curand-10-1 cuda-curand-dev-10-1
  cuda-cusolver-10-1 cuda-cusolver-dev-10-1 cuda-cusparse-10-1
  cuda-cusparse-dev-10-1 cuda-drivers cuda-license-10-2 cuda-npp-10-1
  cuda-npp-dev-10-1 cuda-nsight-10-1 cuda-nsight-compute-10-1
  cuda-nsight-systems-10-1 cuda-nvgraph-10-1 cuda-nvgraph-dev-10-1
  cuda-nvjpeg-10-1 cuda-nvjpeg-dev-10-1 cuda-nvrtc-10-1 cuda-nvrtc-dev-10-1
  cuda-nvvp-10-1 default-jre dkms freeglut3 freeglut3-dev
  keyboard-configuration libargon2-0 libcap2 libcryptsetup12 libcublas10
  libdevmapper1.02.1 libfontenc1 libgtk2.0-0 libgtk2.0-common libidn11
  libip4tc0 libjansson4 libnvidia-cfg1-440 libnvidia-common-430
  libnvidia-common-440 libnvidia-decode-440 libnvidia-encode-440
  libnvidia-fbc1-440 libnvidia-gl-440 libnvidia-ifr1-440 libpam-systemd
  libpolkit-agent-1-0 libpolkit-backend-1-0 libpolkit-gobject-1-0 libxfont2
  libxi-dev libxkbfile1 libxmu-dev libxmu-headers libxnvctrl0
  nsight-compute-2019.5.0 nsight-systems-2019.5.2 nvidia-compute-utils-440
  nvidia-dkms-440 nvidia-driver-440 nvidia-kernel-common-440
  nvidia-kernel-source-440 nvidia-modprobe nvidia-settings nvidia-utils-440
  openjdk-11-jre policykit-1 policykit-1-gnome python3-xkit
  screen-resolution-extra systemd systemd-sysv udev x11-xkb-utils
  xserver-common xserver-xorg-core-hwe-18.04 xserver-xorg-video-nvidia-440
Use 'apt autoremove' to remove them.
0 upgraded, 0 newly installed, 0 to remove and 5 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 5 dirs
/usr/share/fonts/eot: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/eot/font-awesome: caching, new cache contents: 0 fonts, 0 dirs
/usr/share/fonts/opentype: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/opentype/font-awesome: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/svg: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/svg/font-awesome: caching, new cache contents: 0 fonts, 0 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/font-awesome: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 31 fonts, 0 dirs
/usr/share/fonts/woff: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/woff/font-awesome: caching, new cache contents: 1 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [2]:
!ls
!pwd

databreak-python-basic	sample_data
/content

In [0]:
# api key
gmaps_key = "'input your api key'"

2-2 pandas 이용한 데이터 정리

In [0]:
import numpy as np
import pandas as pd

In [5]:
crime_anal_police = pd.read_csv("./databreak-python-basic/data/02. crime_in_Seoul.csv", thousands=',', encoding='euc-kr')
crime_anal_police

     관서명  살인 발생  살인 검거  강도 발생  강도 검거  강간 발생  강간 검거  절도 발생  절도 검거  폭력 발생  폭력 검거
0    중부서      2      2      3      2    105     65   1395    477   1355   1170
1    종로서      3      3      6      5    115     98   1070    413   1278   1070
2   남대문서      1      0      6      4     65     46   1153    382    869    794
3   서대문서      2      2      5      4    154    124   1812    738   2056   1711
4    혜화서      3      2      5      4     96     63   1114    424   1015    861
5    용산서      5      5     14     14    194    173   1557    587   2050   1704
6    성북서      2      2      2      1     86     71    953    409   1194   1015
7   동대문서      5      5     13     13    173    146   1981    814   2548   2227
8    마포서      8      8     14     10    294    247   2555    813   2983   2519
9   영등포서     14     12     22     20    295    183   2964    978   3572   2961
10   성동서      4      4      9      8    126    119   1607    597   1612   1395
11   동작서      5      5      9      5    285    139   1865    661   1910   1587
12   광진서      4      4     14     26    240    220   3026   1277   2625   2180
13   서부서      2      2      2      1     70     59    819    293   1192   1038
14   강북서      7      8     14     13    153    126   1434    618   2649   2348
15   금천서      3      4      6      6    151    122   1567    888   2054   1776
16   중랑서     13     12     11      9    187    148   2135    829   2847   2407
17   강남서      3      3     15     12    300    225   2411    984   2465   2146
18   관악서      9      8     12     14    320    221   2706    827   3298   2642
19   강서서      7      8     13     13    262    191   2096   1260   3207   2718
20   강동서      4      3      6      8    156    123   2366    789   2712   2248
21   종암서      3      3      3      3     64     53    832    332   1015    840
22   구로서      8      6     15     11    281    164   2335    889   3007   2432
23   서초서      7      4      8      5    334    193   1982    905   1852   1607
24   양천서      3      5      6      3    120    105   1890    672   2509   2030
25   송파서     11     10     13     10    220    178   3239   1129   3295   2786
26   노원서     10     10      7      7    197    121   2193    801   2723   2329
27   방배서      1      2      1      1     59     56    653    186    547    491
28   은평서      1      1      7      5     96     82   1095    418   1461   1268
29   도봉서      3      3      9     10    102    106   1063    478   1487   1303
30   수서서     10      7      6      6    149    124   1439    666   1819   1559

In [6]:
!pip install googlemaps

Requirement already satisfied: googlemaps in /usr/local/lib/python3.6/dist-packages (3.1.4)
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2019.9.11)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.8)

In [0]:
import googlemaps
gmaps = googlemaps.Client(key=gmaps_key)

In [8]:
gmaps.geocode("서울중부경찰서", language="ko")

[{'address_components': [{'long_name': '２７',
    'short_name': '２７',
    'types': ['premise']},
   {'long_name': '수표로',
    'short_name': '수표로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '을지로동',
    'short_name': '을지로동',
    'types': ['political', 'sublocality', 'sublocality_level_2']},
   {'long_name': '중구',
    'short_name': '중구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '100-032',
    'short_name': '100-032',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 중구 을지로동 수표로 27',
  'geometry': {'location': {'lat': 37.5636465, 'lng': 126.9895796},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.56499548029149,
     'lng': 126.9909285802915},
    'southwest': {'lat': 37.56229751970849, 'lng': 126.9882306197085}}},
  'place_id': 'ChIJc-9q5uSifDURLhQmr5wkXmc',
  'plus_code': {'compound_code': 'HX7Q+FR 대한민국 서울특별시',
   'global_code': '8Q98HX7Q+FR'},
  'types': ['establishment', 'point_of_interest', 'police']}]

In [9]:
police_stations = []
# print(crime_anal_police['관서명'])
for name in crime_anal_police['관서명']:
  police_stations.append('서울'+ name[:-1] + '경찰서')

police_stations

['서울중부경찰서',
 '서울종로경찰서',
 '서울남대문경찰서',
 '서울서대문경찰서',
 '서울혜화경찰서',
 '서울용산경찰서',
 '서울성북경찰서',
 '서울동대문경찰서',
 '서울마포경찰서',
 '서울영등포경찰서',
 '서울성동경찰서',
 '서울동작경찰서',
 '서울광진경찰서',
 '서울서부경찰서',
 '서울강북경찰서',
 '서울금천경찰서',
 '서울중랑경찰서',
 '서울강남경찰서',
 '서울관악경찰서',
 '서울강서경찰서',
 '서울강동경찰서',
 '서울종암경찰서',
 '서울구로경찰서',
 '서울서초경찰서',
 '서울양천경찰서',
 '서울송파경찰서',
 '서울노원경찰서',
 '서울방배경찰서',
 '서울은평경찰서',
 '서울도봉경찰서',
 '서울수서경찰서']

In [10]:
police_station_addrs = []
police_stations_lat = []
police_stations_lng = []

for name in police_stations:
  temp = gmaps.geocode(name, language="ko")
  police_station_addrs.append(temp[0].get("formatted_address"))

  geo_loc = temp[0].get("geometry")

  police_stations_lat.append(geo_loc["location"]["lat"])
  police_stations_lng.append(geo_loc["location"]["lng"])

  print(name+" --> "+temp[0].get("formatted_address"))

서울중부경찰서 --> 대한민국 서울특별시 중구 을지로동 수표로 27
서울종로경찰서 --> 대한민국 서울특별시 종로구 종로1.2.3.4가동 율곡로 46
서울남대문경찰서 --> 대한민국 서울특별시 중구 회현동 한강대로 410
서울서대문경찰서 --> 대한민국 서울특별시 서대문구 충현동 통일로 113
서울혜화경찰서 --> 대한민국 서울특별시 종로구 인의동 창경궁로 112-16
서울용산경찰서 --> 대한민국 서울특별시 용산구 원효로1가 백범로 329
서울성북경찰서 --> 대한민국 서울특별시 성북구 삼선동5가 301
서울동대문경찰서 --> 대한민국 서울특별시 동대문구 청량리동 약령시로21길 29
서울마포경찰서 --> 대한민국 서울특별시 마포구 아현동 마포대로 183
서울영등포경찰서 --> 대한민국 서울특별시 영등포구 영등포동 영등포로46길 14
서울성동경찰서 --> 대한민국 서울특별시 성동구 행당동 왕십리광장로 9
서울동작경찰서 --> 대한민국 서울특별시 동작구 노량진1동 노량진로 148
서울광진경찰서 --> 대한민국 서울특별시 광진구 구의동 자양로 167
서울서부경찰서 --> 대한민국 서울특별시 은평구 대조동 통일로 757
서울강북경찰서 --> 대한민국 서울특별시 강북구 번1동 오패산로 406
서울금천경찰서 --> 대한민국 서울특별시 금천구 시흥동 190
서울중랑경찰서 --> 대한민국 서울특별시 중랑구 신내1동 신내역로3길 40-10
서울강남경찰서 --> 대한민국 서울특별시 강남구 대치동 998
서울관악경찰서 --> 대한민국 서울특별시 관악구 봉천동
서울강서경찰서 --> 대한민국 서울특별시 양천구 신월동 화곡로 73
서울강동경찰서 --> 대한민국 서울특별시 강동구 성내1동 성내로 57
서울종암경찰서 --> 대한민국 서울특별시 성북구 종암동 종암로 135
서울구로경찰서 --> 대한민국 서울특별시 구로구 구로동 가마산로 235
서울서초경찰서 --> 대한민국 서울특별시 서초구 서초3동 반포대로 179
서울양천경찰서 --> 대한민국 서울특별시 양천구 신정6동 목동동로 99
서울송파경찰서 --> 대한민국 서울특별시 송파구 가락본동 9
서울노원경찰서 --> 대한민국 서울특별시 노원구 하계동 노원로 283
서울방배경찰서 --> 대한민국 서울특별시 서초구 방배본동 동작대로 204
서울은평경찰서 --> 대한민국 서울특별시 은평구 불광동 연서로 365
서울도봉경찰서 --> 대한민국 서울특별시 도봉구 창4동 노해로 403
서울수서경찰서 --> 대한민국 서울특별시 강남구 개포동 개포로 617

In [11]:
for i in range(len(police_station_addrs)):
  print(police_station_addrs[i] + " : "+ str(police_stations_lat[i]) + " / "+ str(police_stations_lng[i]))

대한민국 서울특별시 중구 을지로동 수표로 27 : 37.5636465 / 126.9895796
대한민국 서울특별시 종로구 종로1.2.3.4가동 율곡로 46 : 37.5755578 / 126.9848674
대한민국 서울특별시 중구 회현동 한강대로 410 : 37.5547584 / 126.9734981
대한민국 서울특별시 서대문구 충현동 통일로 113 : 37.5647848 / 126.9667762
대한민국 서울특별시 종로구 인의동 창경궁로 112-16 : 37.5718529 / 126.9989143
대한민국 서울특별시 용산구 원효로1가 백범로 329 : 37.5387099 / 126.9659183
대한민국 서울특별시 성북구 삼선동5가 301 : 37.5897482 / 127.0161353
대한민국 서울특별시 동대문구 청량리동 약령시로21길 29 : 37.58506149999999 / 127.0457679
대한민국 서울특별시 마포구 아현동 마포대로 183 : 37.550814 / 126.954028
대한민국 서울특별시 영등포구 영등포동 영등포로46길 14 : 37.5179839 / 126.9075056
대한민국 서울특별시 성동구 행당동 왕십리광장로 9 : 37.5617309 / 127.0363806
대한민국 서울특별시 동작구 노량진1동 노량진로 148 : 37.5130866 / 126.9428498
대한민국 서울특별시 광진구 구의동 자양로 167 : 37.542873 / 127.083821
대한민국 서울특별시 은평구 대조동 통일로 757 : 37.6128611 / 126.9274951
대한민국 서울특별시 강북구 번1동 오패산로 406 : 37.63730390000001 / 127.0273399
대한민국 서울특별시 금천구 시흥동 190 : 37.4568722 / 126.8970429
대한민국 서울특별시 중랑구 신내1동 신내역로3길 40-10 : 37.618692 / 127.1047136
대한민국 서울특별시 강남구 대치동 998 : 37.5094352 / 127.0669578
대한민국 서울특별시 관악구 봉천동 : 37.4743789 / 126.9509748
대한민국 서울특별시 양천구 신월동 화곡로 73 : 37.5397827 / 126.8299968
대한민국 서울특별시 강동구 성내1동 성내로 57 : 37.528511 / 127.1268224
대한민국 서울특별시 성북구 종암동 종암로 135 : 37.6020592 / 127.0321577
대한민국 서울특별시 구로구 구로동 가마산로 235 : 37.494931 / 126.886731
대한민국 서울특별시 서초구 서초3동 반포대로 179 : 37.4956054 / 127.0052504
대한민국 서울특별시 양천구 신정6동 목동동로 99 : 37.5165667 / 126.8656763
대한민국 서울특별시 송파구 가락본동 9 : 37.5019065 / 127.1271513
대한민국 서울특별시 노원구 하계동 노원로 283 : 37.6425238 / 127.0717076
대한민국 서울특별시 서초구 방배본동 동작대로 204 : 37.4945959 / 126.9831279
대한민국 서울특별시 은평구 불광동 연서로 365 : 37.6283597 / 126.9287226
대한민국 서울특별시 도봉구 창4동 노해로 403 : 37.6533589 / 127.052682
대한민국 서울특별시 강남구 개포동 개포로 617 : 37.49349 / 127.0772119

In [0]:
gu_name = []

for name in police_station_addrs:
  tmp = name.split()
  tmp_gu = [gu for gu in tmp if gu[-1] == '구']
  
  gu_name.append(tmp_gu[0])

In [13]:
crime_anal_police['구별'] = gu_name
crime_anal_police.head()

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  ...  절도 발생  절도 검거  폭력 발생  폭력 검거    구별
0   중부서      2      2      3      2  ...   1395    477   1355   1170    중구
1   종로서      3      3      6      5  ...   1070    413   1278   1070   종로구
2  남대문서      1      0      6      4  ...   1153    382    869    794    중구
3  서대문서      2      2      5      4  ...   1812    738   2056   1711  서대문구
4   혜화서      3      2      5      4  ...   1114    424   1015    861   종로구

[5 rows x 12 columns]

In [14]:
crime_anal_police[crime_anal_police['관서명']=='금천서']

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  ...  절도 발생  절도 검거  폭력 발생  폭력 검거   구별
15  금천서      3      4      6      6  ...   1567    888   2054   1776  금천구

[1 rows x 12 columns]

In [15]:
# row number, col number
crime_anal_police.loc[crime_anal_police['관서명']=='금천서', ['구별']] = '금천구'
crime_anal_police[crime_anal_police['관서명']=='금천서']

    관서명  살인 발생  살인 검거  강도 발생  강도 검거  ...  절도 발생  절도 검거  폭력 발생  폭력 검거   구별
15  금천서      3      4      6      6  ...   1567    888   2054   1776  금천구

[1 rows x 12 columns]

2-6 pandas의 pivot_table 이용해서 데이터 정리

In [16]:
crime_anal_raw = pd.read_csv("./databreak-python-basic/data/02. crime_in_Seoul_include_gu_name.csv")
crime_anal_raw.head()

   Unnamed: 0   관서명  살인 발생  살인 검거  강도 발생  ...  절도 발생  절도 검거  폭력 발생  폭력 검거    구별
0           0   중부서      2      2      3  ...   1395    477   1355   1170    중구
1           1   종로서      3      3      6  ...   1070    413   1278   1070   종로구
2           2  남대문서      1      0      6  ...   1153    382    869    794    중구
3           3  서대문서      2      2      5  ...   1812    738   2056   1711  서대문구
4           4   혜화서      3      2      5  ...   1114    424   1015    861   종로구

[5 rows x 13 columns]

In [17]:
# apply pivot table
crime_anal_raw = pd.read_csv("./databreak-python-basic/data/02. crime_in_Seoul_include_gu_name.csv" , index_col=0)
crime_anal = pd.pivot_table(crime_anal_raw, index=["구별"], aggfunc=np.sum)
crime_anal.head()

     강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구별
강남구    349    449     18     21     10     13   1650   3850   3705   4284
강동구    123    156      8      6      3      4    789   2366   2248   2712
강북구    126    153     13     14      8      7    618   1434   2348   2649
관악구    221    320     14     12      8      9    827   2706   2642   3298
광진구    220    240     26     14      4      4   1277   3026   2180   2625

In [18]:
col = ["강간","강도","살인","절도","폭력"]

for add_col in col:
  crime_anal[add_col+"검거율"] = np.floor(crime_anal[add_col+" 검거"] / crime_anal[add_col+" 발생"] *100)
  crime_anal.loc[crime_anal[add_col+"검거율"] > 100, add_col+"검거율"] = 100

crime_anal.head()

     강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  ...  강간검거율  강도검거율  살인검거율  절도검거율  폭력검거율
구별                                      ...
강남구    349    449     18     21     10  ...   77.0   85.0   76.0   42.0   86.0
강동구    123    156      8      6      3  ...   78.0  100.0   75.0   33.0   82.0
강북구    126    153     13     14      8  ...   82.0   92.0  100.0   43.0   88.0
관악구    221    320     14     12      8  ...   69.0  100.0   88.0   30.0   80.0
광진구    220    240     26     14      4  ...   91.0  100.0  100.0   42.0   83.0

[5 rows x 15 columns]

In [19]:
for crime_col in crime_anal.columns:
  if crime_col[-2:]=="발생":
    crime_anal.rename(columns={crime_col: crime_col[:-2]}, inplace=True)
  elif crime_col[-2:]=="검거":
    del crime_anal[crime_col]

crime_anal.head()

     강간   강도   살인    절도    폭력   강간검거율  강도검거율  살인검거율  절도검거율  폭력검거율
구별
강남구  449   21   13  3850  4284   77.0   85.0   76.0   42.0   86.0
강동구  156    6    4  2366  2712   78.0  100.0   75.0   33.0   82.0
강북구  153   14    7  1434  2649   82.0   92.0  100.0   43.0   88.0
관악구  320   12    9  2706  3298   69.0  100.0   88.0   30.0   80.0
광진구  240   14    4  3026  2625   91.0  100.0  100.0   42.0   83.0

2-7 데이터 출력 꾸미기

In [36]:
from sklearn import preprocessing

crime_anal["강간 "]
# minmax_scaler = preprocessing.MinMaxScaler()

# x_scaled = minmax_scaler.fit_transform(x.astype(float))
# crime_anal_norm = pd.DataFrame(x_scaled, columns=add, index=crime_anal.index)

# col2 = ['강감검거율', '강도검거율', '살인검거율', '절도검거율','폭력검거율']
# crime_anal_norm[col2] = crime_anal[col2]
# crime_anal_norm.head()

구별
강남구     449
강동구     156
강북구     153
관악구     320
광진구     240
구로구     281
금천구     151
노원구     197
도봉구     102
동대문구    173
동작구     285
마포구     294
서대문구    154
서초구     393
성동구     126
성북구     150
송파구     220
양천구     382
영등포구    295
용산구     194
은평구     166
종로구     211
중구      170
중랑구     187
Name: 강간 , dtype: int64