<a href="https://colab.research.google.com/github/mike2ox/databreak-python-basic/blob/master/data_science_by_python_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
!git clone https://github.com/mike2ox/databreak-python-basic.git

Cloning into 'databreak-python-basic'...
remote: Enumerating objects: 67, done.
remote: Counting objects: 100% (67/67), done.
remote: Compressing objects: 100% (46/46), done.
remote: Total 67 (delta 21), reused 60 (delta 20), pack-reused 0
Unpacking objects: 100% (67/67), done.

In [11]:
!ls

databreak-python-basic	sample_data

In [0]:
import pandas as pd

In [13]:
CCTV_Seoul = pd.read_csv("./databreak-python-basic/data/01. CCTV_in_Seoul.csv", encoding="utf-8")
CCTV_Seoul.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [14]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [15]:
CCTV_Seoul.columns[1]

'소계'